:root {
    --main-color: #F1F1F1;
    --secondary-color: #000000;
    --third-color: #ffffff;

    --primary-font-color: #1e1e1e;
    --secondary-font-color: #ffffff;

    --primary-font-family: "Inter";
    --secondary-font-family: "Poppins";

    --font-size-xl: 32px;
    --font-size-l: 30px;
    --font-size-m: 22px;
    --font-size-s: 16px;
    --font-size-xs: 12px;

    --breakpoint-mobile: 320px;
    --breakpoint-tablet: 768px;
    --breakpoint-desktop: 1024px;
}